.about {
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.parcour-liste {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner h3 {
  font-size: 40px;
}
.tag-list {
  margin-top: 15px;
  flex-wrap: wrap;
}
.tag-list li {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 1480px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
}
